 
<div class="split left">
  <div class="centered">
    <img src="img_avatar2.png" alt="Avatar woman">
    <h2>Jane Flex</h2>
    <p>Some text.</p>
  </div>
</div>

<div class="split right">
  <div class="centered"> 
    
    <div class="form-container">
      <a routerLink="/login-email" id="goback">Go back to Login</a>
      
      <h1 class="signup" >Password Recovery  </h1>
      <h2 class="signup2" >Enter your email below:</h2>
      
      <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
        
  
      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
       <input #myLabelEmail type="text" (keyup)="checkEmail(formData)" placeholder="Email address" (ngModel)="email" name="email" class="txt" required>
     
        <button type="submit" class="basic-btn">Send Me Password</button>

        <div *ngIf="passgood == true" class="bg-info">Success: Password reset instructions sent!</div >
    
      </form>
     
    </div>
  
  </div>
</div>
