.valid {
    border: 2px solid blue;
 }
 
 .invalid {
    border: 2px solid red;
 }

 /* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }



  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: #fdfdfd;
}

.centered {
    position: absolute; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}


#lock {
    width:40%;
    margin: 1.5em auto 4em auto;
    display:block;
}

#fb {
    background:#3B5998 url('../assets/images/facebook.svg') no-repeat 14px 6px;
    background-size: 47px;
    color:#fff;
}

#h2 { 
    margin: 0.7em 0 .9em 0;
}

#google {
    border: 1px solid #95989A;
    background: #fff  url('../assets/images/google.svg') no-repeat 25px;
    background-size: 25px;
}

#email {
    background: #ECECEC  url('../assets/images/email.svg') no-repeat 25px;
    background-size: 25px;
}

@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
    #fb {
        background:#3B5998;
    }

    #google {
        background: #fff;
    }

    #email {
        background: #ECECEC;
    }
} 

#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }
