 
<div class="split left">
  <div class="centered">
    <img src="img_avatar2.png" alt="Avatar woman">
    <h2>Jane Flex</h2>
    <p>Some text.</p>
  </div>
</div>

<div class="split right">
  <div class="centered"> 
    
    <div class="form-container">
      <a routerLink="/login-email" id="goback">Go back</a>
      
      <h1 class="signup" >Join Now.. Let's Start!</h1>
      <h2 class="signup2" >Start with the First Step below:</h2>
      
      <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
        
      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    
        <input #myLabelFullName type="text" (keyup)="checkName(formData)" placeholder="Full Name" (ngModel)="email" name="email" class="txt" required>
        
        <input #myLabelEmail type="text" (keyup)="checkEmail(formData)" placeholder="Email address" (ngModel)="email" name="email" class="txt" required>
        <input #myLabelPass type="password" (keyup)="checkPass(formData)" placeholder="Password" (ngModel)="password" name="password" class="txt" required>
        <div *ngIf="passgood == false && typed1forpass == true" class="bg-info">Password must be at least 6 characters..</div >
    
        <button type="submit" class="basic-btn">Create my account..</button>
      </form>
     
    </div>
  
  </div>
</div>
