<div class="main-content">
    <div class="container-fluid">
        <div class="row" style="display: flex; justify-content: center; padding: 0px;">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Notifications</h4> 
                    </div>
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Edit Profile</h4> 
                    </div>
                    <div class="card-content">
                        <div id="inline">
                            <div class="one" style="width: 550px; display: inline-block; ">
                                 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaas sssssssssssssssssss</div> 
                            <div class="two">2</div> 
                        </div>
                       
                    <div id="inline">
                        <div class="one">aa</div>
                        <div class="two">bb</div>
                        <div class="two">cc</div>
                    </div>
                </div>
                <div id="inline" class="card-header" data-background-color="red">
                    <div class="one">        
                        
                        <div id="container">
                            <div id="infoi">a</div>
                            <div id="infoi">
                              ssss
                            </div>
                            <div id="infoi">
                                    ssss
                                  </div>
                    </div></div>
                    <div class="two">bb</div>
              
                </div>

             
           
            </div>

 
    
        </div>
    </div>
    </div>
    